{% extends "layout.html" %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title" href="">Lycéee d'Excellence de Dakar</a></h2>
            <p class="article-content">
              Le lycée d'excellence de Dakar est d’abord un établissement aux résultats académiques exceptionnels. 
              Il se distingue généralement aussi bien au niveau de son pourcentage reçu au bac, que de sa proportion de 
              mentions très bien à cet examen et le nombre de prix récoltés au Concours général.
            </p>
          </div>
        </article>
{% endblock content %}